recent.md
/birnel.org/~noah/bookshelf/books/
/birnel.org/~noah/photos/cooking/thumbs/*
/birnel.org/~noah/photos/mushrooms/thumbs/*
/birnel.org/~noah/photos/nature/thumbs/*
/birnel.org/~noah/photos/misc/thumbs/*
/birnel.org/~audrey/art/thumbs/*
/birnel.org/~audrey/photos/thumbs/*
/birnel.org.static/
